
.navbar ul li {display:inline;}
.navbar a {
	padding:8px;
	color:white; background-color: #6aa84f;
	font-family:arial;
	border-style:out;
	text-decoration:none;
	width:8em;
	}
	.navbar a:hover,
	.navbar a:active
	{
	border-style:inset;
	color:yellow;
	}
	
	#header
	{
		margin-bottom: 10px;
		background-color:powderblue
	}
		
	#cont1
	{
		float: left;
		width: 32%;
		margin-left: 3%;
		background-color:powderblue	
	}
		
	#cont2
	{
		float: left;
		width: 42%;
		margin-left: 3%;
		display: inline;
		background-color:powderblue
	}
	
	#fl
	{
		float : left
	}

	#fr
	{
		float : right
	}


